body {
  background: linear-gradient(0deg, #565656 00%, #414141 30%, #333333 60%, #212121 90%);
  width:80%;
  height: 1600;
  color: #fff;
}

p {
  font-family: montserrat;
  font-style: light;
  font-size: 13px;
  margin-left: 3%;
  margin-right: 3%;
}

h2 {
  font-family: montserrat;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3%;
  margin-right: 3%;
}

header {
  font-size: 10px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: -80px;
  background: #212121;
  

}

span {
  position: fixed;
  top: 100px;
}

.logo
{
  height: 130px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);;
}
.image2
{
width:400px;
margin-left: 3%;
margin-right: 3%;
}

a {
  font-weight: bold;
  color: tomato;
  font-size: 13px;
  text-decoration:none;
  font-family: merriweather;
}

.responsive {
  width: 80%;
  height: auto;
}

.title {
  height: 100vh;
}
