body {
  height: 4000px;
  background: linear-gradient(0deg, #A2A1A3 00%, #787879 30%, #4A4A4B 60%, #212121 90%);
  width:80%;
  height: 1400px;
  margin-left: 3%;
  margin-right: 3%;
  color: #fff;
  padding-top:800px;
}

p {
  font-family: montserrat;
  font-style: light;
  font-size: 13px;
}

h2 {
  font-family: montserrat;
  font-style: bold;
  font-size: 15px;
}

header {
  font-size: 10px;
  width: 100%;
  height: 60px;
  background: #212121;
  position: fixed;
  top: -60px;
  opacity: 0;
}

span {
  position: fixed;
  top: 100px;
}

.logo
{
  height: 130px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);;
}
.image2
{
width:400px;
}

a {
  font-weight: light;
  color: white;
  font-size: 13px;
  text-decoration:none;
  font-family: merriweather;
}

.responsive {
  width: 80%;
  height: auto;
}
